{% extends "base.html" %}
{% block content %}
<header class="hero">
    <div class="txtgroup">
        <h1 class="line headline">1 Sentence Daily</h1>
        <h2 class="line tagline">A micro journal</h2>
    </div>
</header>
<section class="line content">
    <h2 class="line l">Start writing every day.</h2>
    <div class="txtblock l">
        <p>Fusce pulvinar felis erat, sed congue tortor tempor eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam in velit elementum, volutpat nulla ac, facilisis dolor. Proin ut imperdiet odio. Pellentesque sodales ligula eu diam cursus placerat. Curabitur vitae egestas nibh. Quisque id placerat dolor.</p>
    </div>
    <div class="txtblock r">
        <p>Aliquam tempor lacus et interdum viverra. Aliquam sem erat, dignissim quis mollis quis, luctus sed velit. Suspendisse tristique mattis est nec dapibus. In mi lacus, commodo eget consequat a, bibendum vel justo.</p>
        <a class="fancy h3" href="/signup">Try it</a>
    </div>
</section>
<section class="line content">
    <div class="blockquote">
<!--         <blockquote>When there are no echoes, the silence is as horrible as that heavy weight that keeps you from running away in dreams.</blockquote>
        <cite>Adolfo Bioy Casares, The Invention of Morel</cite> -->
        <blockquote>And you know how it is when you’re starting a project, how you sometimes have to start with a series of misunderstandings.</blockquote>
        <cite>Underworld, Don DeLillo</cite>
<!--         <blockquote>The mattress, waiting.</blockquote>
        <cite>Thomas Pynchon, The Crying of Lot 49</cite> -->
<!--         <blockquote>He said he discovered mud, rain and the infinite, in that order.</blockquote>
        <cite>Lars Iyer, Spurious</cite> -->
<!--         <blockquote>From gutters, rats exclaim in gutter chorus; life is an argument with the world over time.</blockquote>
        <cite>Colson Whitehead, The Colossus of New York</cite> -->
<!--         <blockquote>She was a painting by Matisse, but she took sleeping pills.</blockquote>
        <cite>Carole Maso, The Art Lover</cite> -->
<!--         <blockquote>A man that is born falls into a dream like a man who falls into the sea.</blockquote>
        <cite>Joseph Conrad, Lord Jim</cite> -->
<!--         <blockquote>Many fine people were out there living, people whose consciences permitted them to sleep at night despite their not having written a decent sentence that day, or ever.</blockquote>
        <cite>Annie Dillard, The Writing Life</cite> -->
<!--        <blockquote>The line of words is a fiber optic, flexible as wire; it illuminates the path just before its fragile tip.</blockquote>
        <cite>Annie Dillard, The Writing Life</cite> -->

    </div>
</section>
{% endblock %}