{% extends "base.html" %}
{% block content %}
<header class="hero">
    <div class="txtgroup">
        <h1 class="line headline">1 Sentence Daily</h1>
        <h2 class="line tagline">A micro journal</h2>
    </div>
</header>
<section class="line content">
    <h2 class="line">Nulla facilisi.</h2>
    <div class="txtblock l">
        <p>Fusce pulvinar felis erat, sed congue tortor tempor eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam in velit elementum, volutpat nulla ac, facilisis dolor. Proin ut imperdiet odio. Pellentesque sodales ligula eu diam cursus placerat. Curabitur vitae egestas nibh. Quisque id placerat dolor.</p>
    </div>
    <div class="txtblock r">
        <p>Aliquam tempor lacus et interdum viverra. Aliquam sem erat, dignissim quis mollis quis, luctus sed velit. Suspendisse tristique mattis est nec dapibus. In mi lacus, commodo eget consequat a, bibendum vel justo.</p>
        <a class="fancy h3" href="">Try it</a>
    </div>
</section>
{% endblock %}