{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
function set_openid(openid, pr) {
	u = openid.search('<username>')
	if (u != -1) {
		// openid requires username
		user = prompt('Enter your ' + pr + ' username:')
		openid = openid.substr(0,u) + user
	}
	form = document.forms['login'];
	form.elements['openid'].value = openid
}
</script>

<header class="hero band">
    <div class="txtgroup">
        <h1 class="headline">1 Sentence Daily</h1>
    </div>
</header>
<section class="line content">
	<h2 class="line l">Log In</h2>
	<form action="" method="post" name="login" class="login">
		{{form.hidden_tag()}}
		<div class="line">
			<label>Enter your OpenId</label>
			{{form.openid()}}
		</div>
		<div class="line">
			{% for error in form.errors.openid %}
			<span style="color:Red">[{{error}}]</span>
			{% endfor %}
		</div>
		<div class="line">
			<label>Or select an provider</label>
			|{% for pr in providers %}
			<a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');">{{pr.name}}</a> |
			{% endfor %}
		</div>
		<div class="line">
			<label>{{form.remember_me}} Remember me</label>
		</div>
		<div class="line">
			<div class="txtblock l">
			<input class="btn btn-block btn-large" type="submit" value="Sign In">
			</div>
		</div>
	</form>
</section>
{% endblock %}